@charset "ISO-8859-1";

/*Testing
*{
	border: 1px solid blue;
}*/
* {
	margin: 0;
	padding: 0;
}

body {
	
	/**/background-color: #C7DBC9;
	background-image: url(../img/bgd/index_page_bgrd.png);
	/*background-image: url(../img/bgd/dna_bgd.png);
	background-repeat: no-repeat;*/
	/*background-size: cover;*/
	font-size: 18px;
}

a
{
	text-decoration: none;
	color: black;
}

.wrapper {
	/**/

	height: 2000px;
}

/*.main-header {
	background-color: #C7DBC9;
	background: linear-gradient(to bottom, #75B379 0%, #75B379 50%, #C7DBC9 100%);
}*/

.main-footer {
	background-color: #075C0C;
	background: linear-gradient(to bottom, #C7DBC9 0%, #75B379 50%, #075C0C 100%);
}




/*Grid Layout Elements*/
.main-header {
	grid-area: header;
}

.content {
	grid-area: content;
}

.main-nav {
	grid-area: nav;
}

.side {
	grid-area: sidebar;
}

.signUp
{
	grid-area: signup;
}

.catshop {
	grid-area: catshop;
}

.main-footer {
	grid-area: footer;
}

.forum
{
	grid-area: forum;
}

.shop
{
	grid-area: shop;
}
.experiment_of_the_day
{
	grid-area: exp;
}
.history
{
	grid-area: history;
}

/*Mobile View */
.wrapper {
	display: grid;
	grid-gap: 10px;
	grid-template-areas: 
	"header" 
	"nav" 
	"content" 
	"sidebar" 
	"catshop"
	"footer";
}

/* --- Header Style*/
.main-header {
	height: 100px;
	margin: 0;
	padding: 0;
}

.logoTitle {
	margin-top: 2%;
	margin-left: 2%;
	width: 50%;
	font-family: 'Fredericka the Great', cursive;
	font-size: 5rem;
}

.main-nav {
	height: 50px;
}

.main-nav ul {
	height: 100%;
	list-style-type: none;
}

.main-nav ul li {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.main-nav ul li a {
	display: block;
	text-decoration: none;
	text-align: center;
	line-height: 1.5;
	font-size: 1.25rem; /* 20px/16=1.25em */
	height: 100%;
	width: 100%;
}


/* Design for different Viewports */
@media ( min-width : 500px) {
	.wrapper {
		grid-template-columns: 4fr;
		grid-template-areas: 
		"header" 
		"nav" 
		"sidebar "
		"content "
		"footer footer";
	}
	nav ul {
		display: flex;
		justify-content: space-between;
	}
	
}

@media ( min-width : 700px) {
	.wrapper {
		grid-template-columns: 1fr 4fr 1fr;
		grid-template-areas: 
		"header	header	header" 
		"nav	nav		sidebar"
		"content	content	sidebar"
		"content	content	sidebar"
		"content	content	signup" 
		"content	content	forum"
		"content	content	catshop"
		"content	content	shop"
		"content	content	exp"
		"content	content	history"
		"footer	footer	footer"
		"footer	footer	footer"
	}
	
	.wrapper
	{
		/*background-image: url(../img/bgd/dna_green_mecha1.png);
		background-repeat: no-repeat;
		background-size: cover;*/
	}

	/* --- Header Style*/
	.main-header {
		height: 150px;
		
		/*border-color: #75B379;
		border-left-style: solid;
		border-bottom-style: solid;	
		border-width: 10px;
		border-bottom-left-radius: 30%;
		
		border-right-style: solid;
		border-color: #003F04;
		
		*/

	}
	.main-nav {
	
		height: 100px;
		/*background-color: #C7DBC9;
		margin-top: -56px;
		
		border-right-style: solid;
		border-left-style: solid;
		border-width: 10px;
		border-color: #003F04;
		border-bottom-left-radius: 50%;
		border-bottom-right-radius: 50%;*/
	}
	
	
	.main-nav ul {
		flex-direction: row;
		
		padding: 2%;
		
	}
	.main-nav ul li {
		/*float: left;*/
		height: 100%;
		width: 24.9%;
		margin: 0;
		padding: 0;
	}
	
	/*.main-nav ul li:nth-of-type(1), .main-nav ul li:nth-of-type(2)
	{

	}*/
	
	
	
	.main-nav ul li a {
		line-height: 1.5;
		color: #075C0C;
		font-size: 1.875rem; /* 30px/16=1.875em */
	}
	.main-nav ul li a:visited {
		line-height: 1.5;
		color: #075C0C;
		font-size: 1.875rem; /* 30px/16=1.875em */
	}
	.main-nav ul li a:hover {
		line-height: 1.5;
		color: #75B379;
		font-size: 2rem; /* 30px/16=1.875em */
	}
	.content {
		float: left;
		margin-left: 5px;
		padding-top: 10px;
		padding-right: 10px;
		padding-bottom: 10px;
		padding-left: 10px;
	}
	.content h1 {
		margin-left: 1%;
	}
	.quote {
		margin-left: 20%;
		font-style: italic;
	}
	
	
	
	#mainDisplay
	{
		margin-top: -1%;
		margin-right: 3%;
		padding-top: 3%;
		padding-right: 3%;
		padding-left: 3%;
		height: 450px;
		width: 89%;
		text-align: center;
		
		/*border-top-style: dotted;
		border-left-style: dotted;
		border-width: 1px;
		border-color: #003F04;
		border-top-left-radius: 20%;
		border-bottom-right-radius: 20%;
		box-shadow: 10px 10px 5px #003F04;*/		
	
	}
	
	
	.overlay {
	  position: absolute;
	  background: rgba(117,179,121, 1);
	  width: 100%;
	  transition: .7s ease;
	  
	  opacity:0;
	  
	  color: #003F04;
	  font-size: 20px;
	  padding: 20px;
	  text-align: center;
	  
	/*z-index: 1000;*/
	}
	
	.accordion > div:hover .overlay {
  		opacity: 1;
  		margin-top: 40%;
	}
	
	
	
	.articlet {
		float: left;
		margin-top: 10%;
		margin-left: 3%;
		padding-top: 3%;
		padding-right: 3%;
		padding-left: 3%;
		
		height: 21%;
		width: 23%;
		
		text-align: center;
		
		border-top-style: dotted;
		border-left-style: dotted;
		border-width: 1px;
		border-color: #003F04;
		border-top-left-radius: 20%;
		border-bottom-right-radius: 20%;
		box-shadow: 10px 10px 5px #003F04;
		
		overflow: hidden;
		
		transition: 1.3s;

	}
	
	.articlet:hover
	{
		height: 40%;
	}
	
	.articletsImg
	{
		height: 200px;
		width: 200px;
		margin: auto;
	
	}
	
	.articletTitle
	{
		font-family: 'Fredericka the Great', cursive;
		font-size: 20px;
		

	
	}
	
	#forum
	{
		background-image:url(../img/articlets/forum_min.png);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;

		border-top-left-radius: 1%;
		border-top-right-radius: 50%;
		border-bottom-left-radius: 50%;
		border-bottom-right-radius: 1%;
	}
	
	#openProjects
	{
		background-image:url(../img/articlets/openprojects_min.png);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;

		border-top-left-radius: 50%;
		border-top-right-radius: 50%;
		border-bottom-left-radius: 50%;
		border-bottom-right-radius: 50%;	
	
	
	}
	
	#signInUp
	{
		background-image:url(../img/articlets/signinup_min.png);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;

		border-top-left-radius: 50%;
		border-top-right-radius: 1%;
		border-bottom-left-radius: 1%;
		border-bottom-right-radius: 50%;	
	
	
	}
	
	
	.middle {
		border-top-left-radius: 0%;
		border-bottom-right-radius: 0%;
		border-top-right-radius: 20%;
		border-bottom-left-radius: 20%;
	}
	
	.side {
		margin-right: 10%;
		
		/*padding-left: 2%;*/
		padding-bottom: 0px;
		
		height: 550px;
		
		border-top-style: dotted;
		border-left-style: dotted;
		border-width: 1px;
		border-color: #003F04;
		border-bottom-right-radius: 20%;
		border-bottom-left-radius: 20%;
		box-shadow: 5px 5px 5px #003F04;
	}
	
	
	#testTubeLabel
	{
		/*background-color:#fff;*/
		/*background-image: url(../img/bgd/notebook-paper.png);
		background-repeat: no-repeat;
		background-size: cover;*/
		
		height: 100px;
		width: 90%;
		border-left: 5px solid #075C0C;
		border-right: 5px solid #075C0C;
		border-top: 1px solid #075C0C;
		border-bottom: 1px solid #075C0C;
		
		padding-top: 5%;
		padding-left: 2%;
		padding-right: 2%;
		margin-left: 2%;
	}
	
	.inputSignIn
	{
	
		/* */margin-left: 4%;
		width: 80%; 
		height: 30px;
		
	}
	
	.icon
	{
		float: left;
		width: 20px;
	
	}
	
	
	.signInButton
	{
	
		width: 10rem;
		
		margin-left: 30%; 
		margin-top: 6px; 
		
		background-color: #75B379; 
		border-style: outset;
		
		border-top-right-radius: 50%;
		border-top-left-radius: 50%;
		border-bottom-right-radius: 50%;
		border-bottom-left-radius: 50%;
	
		padding: 15px 32px;
		
		color: white;
		text-align: center;
		text-decoration: none;
		font-size: 1rem;
		
		display: block;
	


	}
	
	
	#signUpButton 
	{
		width: 10rem;
		height: 40px;
		
		margin-left: 18%;
		margin-top: 1%;
		margin-bottom: 1%;
		
		background-color: #75B379;
		border-style: outset;
		
		border-top-right-radius: 50%;
		border-top-left-radius: 50%;
		border-bottom-right-radius: 50%;
		border-bottom-left-radius: 50%;
		
		line-height: 40px;
		text-align: center;
		text-decoration: none;
		font-size: 1rem;
		
		display: block;
	
	
	}
	
	
	#signUpButton a
	{
		color: white;
		
		text-decoration: none;
		font-size: 1rem;
	}
	
		
	.signUp
	{
		margin-right: 10%;
		margin-top: -180px;
		
		height:250px;
		
		background-image: url(../img/SignUpBot.png);
		background-repeat: no-repeat;
		background-position: center;
		
		text-align: center;
		border-top-style: dotted;
		border-left-style: dotted;
		border-width: 1px;
		border-color: #003F04;
		border-top-left-radius: 40%;
		border-top-right-radius: 40%;
		box-shadow: 5px 5px 5px #003F04;
		
	
	}
	
	
	
	.catshop {
		margin-right: 10%;
		/*margin-top: -20%;*/
		
		text-align: center;
		border-top-style: dotted;
		border-left-style: dotted;
		border-width: 1px;
		border-color: #003F04;
		border-top-left-radius: 40%;
		border-top-right-radius: 40%;
		box-shadow: 5px 5px 5px #003F04;
	}
	
	.forum
	{
	
		/*height: 200px;*/
		margin-right: 10%;
		
		text-align: center;
		/*line-height: 200px;*/
		
		border-top-style: dotted;
		border-left-style: dotted;
		border-width: 1px;
		border-color: #003F04;
		border-bottom-left-radius: 40%;
		border-bottom-right-radius: 40%;
		box-shadow: 5px 5px 5px #003F04;
	
	}
	
	.sideText
	{
		margin-top: 20px;
	}
	
	
	.shop
	{
	
		margin-right: 10%;
		text-align: center;
		border-top-style: dotted;
		border-left-style: dotted;
		border-width: 1px;
		border-color: #003F04;
		border-bottom-left-radius: 40%;
		border-bottom-right-radius: 40%;
		box-shadow: 5px 5px 5px #003F04;
	
	}
	
	.experiment_of_the_day
	{
	
		margin-right: 10%;
		text-align: center;
		border-top-style: dotted;
		border-left-style: dotted;
		border-width: 1px;
		border-color: #003F04;
		border-top-left-radius: 40%;
		border-top-right-radius: 40%;
		box-shadow: 5px 5px 5px #003F04;
	
	}	
	
	
	.history
	{
	
		margin-right: 10%;
		text-align: center;
		border-top-style: dotted;
		border-left-style: dotted;
		border-width: 1px;
		border-color: #003F04;
		border-bottom-left-radius: 40%;
		border-bottom-right-radius: 40%;
		box-shadow: 5px 5px 5px #003F04;
	
	}
	
	
	.main-footer 
	{
		
		position:fixed;
		top:850px;
		
		width:100%;
		height: 100px;
		
		line-height: 100px;
		
		padding-left: 10px;
		
	}
	
	#socialMedia
	{
		margin-top:0px;
		margin-right:50%;
		float: right;
	
	}
}