@charset "ISO-8859-1";

/*Testing
*{
	border: 1px solid blue;
}*/

*
{
	margin: 0;
	padding: 0;
}


body{
	background-image: url(../img/bgd/main_bgd.jpg);
	
	font-size: 18px;
}

.wrapper
{
	background-color: #C7DBC9;
	background-image: url(../img/bgd/index_page_bgrd.png);
	
	height:900px;
}

.main-header
{
	background-color: #75B379;
	background: linear-gradient(to bottom, #75B379 0%, #75B379 50%, #C7DBC9 100%);
}

.main-footer
{
	background-color: #075C0C;
	background: linear-gradient(to bottom, #C7DBC9 0%, #75B379 50%, #075C0C 100%);
}

#signUpButton
{
	margin-left:4%;
	background-color: #75B379;
	height:20px;
	width: 100px;
	
	text-align: center;
	font-size: 1rem;
	
	border-style: outset;
}


/*Grid Layout Elements*/

.main-header {
  grid-area: header;
}
.content {
  grid-area: content;
}
.main-nav {
  grid-area: nav;
}
.side {
  grid-area: sidebar;
}
.catshop {
  grid-area: catshop;
}
.main-footer {
  grid-area: footer;
}


/*Mobile View */

.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    "header"
    "nav"
    "content"
    "sidebar"
    "catshop"
    "footer";
}



/* --- Header Style*/

.main-header
{
	height:100px;
	margin: 0;
	padding: 0;
}

.logoTitle
{
	margin-top:2%;
	margin-left:2%;
	
	width: 50%;
	
	font-family: 'Fredericka the Great', cursive;
	font-size: 5rem;
}


.main-nav
{
	height:50px;
}

.main-nav ul
{
	height:100%;
	list-style-type: none;
}

.main-nav ul li
{
	height:100%;
	width: 100%;
	margin: 0;
	padding: 0;
}


.main-nav ul li a
{
	display: block;
	
	text-decoration: none;
	text-align: center;
	line-height:1.5;
	
	font-size: 1.25rem; /* 20px/16=1.25em */
	
	height:100%;
	width: 100%;
}






/* Design for different Viewports */

@media (min-width: 500px) {
  .wrapper {
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "header  header"
      "nav     nav"
      "sidebar content"
      "catshop footer";
  }
  
  nav ul {
    display: flex;
    justify-content: space-between;
  }
}


@media (min-width: 700px) {
  .wrapper {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
      "header	header	header"
      "nav	nav	nav"
      "content	content	sidebar"
      "content	content	sidebar"
      "content	content	catshop"
      "content	content	catshop"
      "footer	footer	footer"
   }
   
   
	/* --- Header Style*/

	.main-header
	{
		height:150px;
	}
	
	.main-nav
	{
		margin-top:0px;
	}
	   
   
   
	.main-nav ul 
	{
	    flex-direction: row;
	}
	
	.main-nav ul li
	{
	
		/*float: left;*/
		height:100%;
		width: 24.9%;
		margin: 0;
		padding: 0;
	}
   
   .main-nav ul li a
	{
		line-height:1.5;
		color: #075C0C;
		font-size: 1.875rem; /* 30px/16=1.875em */
	}
	
	.main-nav ul li a:visited
	{
		line-height:1.5;
		color: #75B379;
		font-size: 1.875rem; /* 30px/16=1.875em */
	}
	
	
	.main-nav ul li a:hover
	{
		line-height:1.5;
		color: #75B379;
		font-size: 2rem; /* 30px/16=1.875em */
	}
	
	
	
	.content
	{
		
		float: left;
		margin-left: 5px;
		
		padding-top: 10px;
		padding-right: 10px;
		padding-bottom: 10px;
		padding-left: 10px;
	}
	
	.content h1
	{
		margin-left: 1%;
	
	}
	
	.quote
	{
		margin-left: 20%;
		font-style: italic;
	
	}
	
	.articlet
	{
		
		float:left;
		
		margin-top: 3%;
		margin-right: 3%;
		
		padding-top: 3%;
		padding-right: 3%;
		padding-left: 3%;
		
		height: 60%;
		width: 23%;
		
		text-align: center;
		
		border-top-style: dotted;
		border-left-style: dotted;
		border-width: 1px;
		border-color: #003F04;
		border-top-left-radius: 20%;
		border-bottom-right-radius: 20%;
		
		box-shadow: 10px 10px 5px #003F04;
		
	
	}
	
	.middle
	{
	
		border-top-left-radius: 0%;
		border-bottom-right-radius: 0%;
		border-top-right-radius: 20%;
		border-bottom-left-radius: 20%;
	
	}
	
	
	.side
	{
	
		margin-right: 10%;
		
		padding-left: 2%;
	
		border-top-style: dotted;
		border-left-style: dotted;
		border-width: 1px;
		border-color: #003F04;

		border-bottom-right-radius: 20%;
		border-bottom-left-radius: 20%;
		
		box-shadow: 5px 5px 5px #003F04;
	
	
	}
	
	.catshop
	{
	
		
		margin-right: 10%;

		
		text-align:center;
	
		border-top-style: dotted;
		border-left-style: dotted;
		border-width: 1px;
		border-color: #003F04;

		border-top-left-radius: 40%;
		border-top-right-radius: 40%;
		
		box-shadow: 5px 5px 5px #003F04;
	
	}
   
   
}


